/*Ãndex*/
/*
#menu ul li {
    background-color: #97a4ce;
    border: violet;
    color: rgb(133, 211, 211);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #menu ul li a {
      text-decoration: none;
      color:aqua;
  }

#menu ul li a:hover {
    background-color: black;
    color: white;
}

  .activa {
      border: royalblue;
      background-color: rebeccapurple;
      color: red;
      padding: 3px 6px;
      margin: 1px 2px;
      font-size: 20px;
  }

  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
*/

* {
    margin:0px;
    padding:0px;
}

#menu {
    margin:auto;
    width:500px;
}

ul, ol {
    list-style:none;
}

#menu > li {
    float:left;
}

#menu li a {
    background-color:#000;
    color:rgb(99, 120, 235);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

#menu  li a:hover {
    background-color:#434343;
}

#menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

#menu li:hover > ul {
    display:block;
}

#menu li ul li {
    position:relative;
}

#menu li ul li ul {
    right:-140px;
    top:0px;
}


img{
    display: inline-block;
    margin: 1%;
    width: 30%;
}

h1{
    text-transform: uppercase;
}