#menu ul li {
    background-color: #97a4ce;
    border: violet;
    color: rgb(133, 211, 211);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #menu ul li a {
      text-decoration: none;
      color:aqua;
  }

  .activa {
      border: royalblue;
      background-color: rebeccapurple;
      color: red;
      padding: 3px 6px;
      margin: 1px 2px;
      font-size: 20px;
  }

  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
