/*Ãndex*/
/*
#menu ul li {
    background-color: #97a4ce;
    border: violet;
    color: rgb(133, 211, 211);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #menu ul li a {
      text-decoration: none;
      color:aqua;
  }

#menu ul li a:hover {
    background-color: black;
    color: white;
}

  .activa {
      border: royalblue;
      background-color: rebeccapurple;
      color: red;
      padding: 3px 6px;
      margin: 1px 2px;
      font-size: 20px;
  }

  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
*/

* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:rgb(99, 120, 235);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


/*CSS tres en ratlla*/
body{
  background-color: #ffffff;
}
  h1{
    justify-content: center;
}
div{
    display: flex;
    justify-content: center;
}
    table{
      background-color: #ffffff;
  }

.q1 {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.q2{
    border-top: none;
    border-bottom: none;
}

.q3{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.q4{
    border-left: none;
    border-right: none;
}
    
.q6{
    border-right: none;
    border-left: none;
    
}

.q7{
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.q8{
    border-bottom: none;
    border-top: none;
}

.q9{
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: none;

}

td{
     padding: 100px;
     text-align: center;
     border: 1px solid rgb(0, 0, 0)
} 
